




/* MEDIA QUERIES FOR PHONES */
@media screen and (max-width: 600px) {
    #app {
        width: 100vw;
        height: 100vh;
        padding: 2rem 1rem;
    }

    .notes__header {
        width: 100%;
        padding: 2rem 1rem;
        position: fixed;
        top: 0;
        left: 0;
    }

    .notes__container {
        margin-top: 5rem;
        gap: 1rem;
        padding: 0px;
    }

    .btn.add__btn {
        padding: 1.5rem;
        font-size: 1.5rem;
        bottom: 6%;
        right: 2rem;
    }
}